.desctop_collection-tabs{
    gap: 30px;
}

.collection-tabs p{
    text-transform: uppercase;
    cursor: pointer;
}

.collection-hero__title{
    text-transform: uppercase;
}

@media (min-width: 768px){
    .mobile_collection-tabs{
        display: none;
    }

    .desctop_collection-tabs{
        display: flex;
    }
}

@media (max-width: 767px) {
    .mobile_collection-tabs{
        display: flex;
    }

    .desctop_collection-tabs{
        display: none;
    }
}